.km-android, .km-android .km-content {
    background: #E6E6E5;
}
.km-ios7 .km-listgroup .km-group-title, .km-ios7 .km-listgroupinset .km-group-title {
    line-height: 1.4em;
    font-size: 12px;
    border-top: 0;
}

.km-root .km-listview-link, .km-root .km-listview-label {
    padding: 0;
/*.km-list > li,*/ }

.km-ios7 .km-list > li {
    /*padding-left: 0;*/
    border-image: 0 none;
    border-top-color: #E6E6E5;
}


.km-ios7 .km-button {
    padding: .25em 0;
}

.km-ios7 .km-list li > .km-listview-label {
    margin: 0;
    padding: 0;
}
.km-ios7 .km-footer {
    background: #E6E6E5;
}
.km-ios7 .km-tabstrip, .km-ios7 .km-navbar {
    background: #193B67;
    border-top: 0 none;
    color: white;
}
.km-ios7 .km-tabstrip .km-button:not(.km-state-active), .km-ios7 li.km-state-active .km-listview-link, .km-ios7 li.km-state-active .km-listview-label {
    color: #A6DEF2;
}