body, html {
	margin: 0;
	height: 100%;
	width: 100%;
}

/* COMMON STYLES*/
.view-content h1 {
	color: #42454a;
	font-size: 1.8em;
}

.view-content h1.welcome {
	text-align: center;
}

.view-content h3 {
	color: #42454a;
	font-size: 1.1em;
}

.view-content p {
	color: #4a4e54;
	font-size: 1em;
}
.view-content .smaller {
    font-size: smaller;
    color: #808285;
}
.gray-bg {
    background: #E6E6E5;
}
    .gray-bg .km-group-title {
        visibility: hidden;
    }

/* PLAYER LIST */
.player-name {
    display: block;
    float: left;
    margin-top: 6px;
    font-size: 20px;
}

.player-email {
    font-size: 12px;
    color: #808285;
    display: block;
    float: left;
    clear: left;
    line-height: 1em;
}

.winner-list {
    padding: 0;
    margin: 0;
    display: inline;
}

.winner-list li, .edit-player-list {
    padding: 3px;
    margin: 0;
    display: inline-block;
    list-style-type: none;
}

.edit-player-list {
    width: 54px;
    height: 56px;
}
.winner-list li[data-is-winner=true] img {
    position: relative;
    z-index: 1
}
.winner-list li[data-is-winner=true]::after {
    content: "\F091";
    display: block;
    width: 15px;
    height: 13px;
    background: #66BC46;
    position: absolute;
    z-index: 10;
    margin-left: 34px;
    color: white;
    font-family: "FontAwesome";
    font-size: 10px;
    text-align:center;
    padding-top: 2px;
    margin-top: -1px;
    border-radius: 7px;
}
.km-listview-label input[type=checkbox] {
    /*margin-top: 15px;*/
}

/* IMAGE STYLES*/
.img {
	background-image: url(../styles/images/icenium.png);
	background-repeat: no-repeat;
	text-align: center;
	width: 320px;
	height: 193px;
	margin: 0px auto;
}

.logo {
	background-image: url(../styles/images/logo.png);
	background-repeat: no-repeat;
	width: 85px;
	height: 60px;
	margin: 40px auto;
}

/* BUTTON STYLES*/
.buttonArea {
	text-align: center;
}

.login-button {
	width: 50%;
	max-width: 300px;
	font-size: .9em;
	-webkit-appearance: none;
}

.position-left {
	float: left;
}

.position-right {
	float: right;
}

.position.center {
	position: absolute;
	margin: 0 auto;
	width: 100%;
}

/* DEVICE SPECIFIC STYLES*/
#skin-change {
	position: absolute;
	right: 10px;
	top: 10px;
}

.km-ios .km-listview-wrapper .km-listinset li {
	background-color: #fff;
	border-color: #ababab;
}

.km-ios .km-view .km-content {
	background-image: none;
	background: #f0f0f0;
}

.km-tablet .km-ios .km-navbar .km-view-title {
	color: #000;
	text-shadow: 0 -1px rgba(255,255,255,0.3);
}

.km-android .view-content h1 {
	color: #8a8b8f;
}

.km-android .view-content p,
.km-android .view-content h3 {
	color: #2e5968;
}

.km-android .weather-info.temperature.low {
	color: #2e5968;
}

.km-ios .km-view .weather {
	background: #5fb4ed; /* Old browsers */
	background: -moz-linear-gradient(top, #5fb4ed 0%, #0076c5 74%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fb4ed), color-stop(74%,#0076c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5fb4ed 0%,#0076c5 74%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5fb4ed 0%,#0076c5 74%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5fb4ed 0%,#0076c5 74%); /* IE10+ */
	background: linear-gradient(to bottom, #5fb4ed 0%,#0076c5 74%); /* W3C */
}
.km-ios7 .km-view .weather,
.km-flat .km-view .weather {
	background: #b0b0b0;
}

.km-flat .km-list > li {
	box-shadow: none;
}

.km-ios .km-list > li,
.km-flat .km-list > li {
	background: none;
	border: none;
}

/* Separator Style*/
.separator > .dark {
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.2)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(70%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0) 100%);
	height: 1px;
	border: none;
	width: 100%;
	opacity: 0.3;
}

.separator > .light {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
	height: 1px;
	border: none;
	width: 100%;
	opacity: 0.3;
}

.home-bg {
    background: #193B67 url(images/home-logo.png) no-repeat center -10px;
    background-size: 320px 568px;
    width: 100%;
    height: 100%;
}
.home-buttons-container {
    margin-top: 94%;
}
.home-buttons-container p {
    margin-top: .75em;
    margin-bottom: .75em;
}
.btn {
    display: block;
    background: white;
    text-align: center;
    color: transparent;
    width: 100%;
}
.km-ios7 .btn.km-button {
    padding-top: .75em;
    padding-bottom: .75em;
}
.km-ios7 .km-button {
    background: white;
}
.km-ios7 .km-footer .btn {
    margin: 5px auto;
}
    .btn span {
        font-size: 20px;
        color: black;
    }
    .btn.cta {
        background: #66BC46;
        color: transparent;
    }
    .btn.tall {
        line-height: 2.5em;
    }
    .btn.blue {
        background: #016C97;
        color: transparent;
    }
    .btn.cta span, .btn.blue span {
        color: White;
    }

.fa {
    font-size: 27px;
}
.km-fa-record:after,
.km-fa-record:before {
    font: 27px/27px "FontAwesome";
    content:"\F044";
    text-align:center;
}
.km-fa-trophy:after,
.km-fa-trophy:before {
    font: 27px/27px "FontAwesome";
    content:"\F091";
    text-align:center;
}
.km-fa-reports:after,
.km-fa-reports:before {
    font: 27px/27px "FontAwesome";
    content:"\F080";
    text-align:center;
}
.km-fa-profile:after,
.km-fa-profile:before {
    font: 27px/27px "FontAwesome";
    content:"\F007";
    text-align:center;
}
.record-btn-home:before {
    content: "\F040";
    padding-right: 8px;
    font-size: 25px;
    color: white;
    font-family: "FontAwesome";
}
.leaderboard-btn-home:before {
    content: "\F091";
    padding-right: 8px;
    font-size: 25px;
    color: #016c97;
    font-family: "FontAwesome";
}
.reports-btn-home:before {
    content: "\F080";
    padding-right: 8px;
    font-size: 25px;
    color: #016c97;
    font-family: "FontAwesome";
}
.add-btn:before {
    content: "\F055";
    padding-right: 8px;
    font-size: 21px;
    color: white;
    font-family: "FontAwesome"; 
}

.top-logo {
    background: url(images/top-logo.png) no-repeat right -8px;
    background-size: 202px 44px;
    text-indent: -10000px;
}
.top-logo {
    /*background: url(images/top-logo.png) no-repeat right -8px;*/
    background-size: 202px 34px;
    /*text-indent: -10000px;*/
}
/*.header div[data-role="navbar"] {
    background: #193B67;
}*/


.select-options-btn>a {
    border: 0 none ! important;
    display: block;
    color: transparent;
    min-height: 55px;
}
.select-options-btn>a>span {
    border: 0 none;
    color: black;
    padding-left: 0;
    font-size: 20px;
}
.select-options-btn>a>span.btn-text {
    margin-top: 12px;
    float: left;
}
.muted-text {
    color: #E6E6E5 ! important;
    font-style: italic;
}
.btn-edit-square {
    background: #016C97;
    width: 48px;
    height: 48px;
    color: white;
    font-size: 21px;
    padding: .6em 0;
    text-align: center;
    float: right;
}

.thumbnail-img {
    width: 48px;
    height: 48px;
    float: left;
    background: #E6E6E5;
    margin-right: 12px;
}
.gravatar-thumbnail-img {
    width: 48px;
    height: 48px;
}
.game-name {
    display: inline-block;
    float: left;
    margin-top: 12px;
    font-size: 20px;
}
.selected-option img {
    float: left;
    margin-right: 12px;
}
.selected-option span {
    float: left;
    margin-top: 12px;
}

/* RETINA DISPLAY STYLES*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .top-logo {
        background: url(images/top-logo@2x.png) no-repeat left top;
        background-size: 202px 54px;
    }
}

[data-gravatar-size="32"] {
    width: 32px;
    height: 32px;
}

[data-gravatar-size="48"] {
    width: 48px;
    height: 48px;
}
