<div id="choose-players"
        data-role="view"
        data-title="Choose Players"
        data-model="app.viewModels.choosePlayers"
        data-layout="plain-layout">
    <div data-role="header">
        <div data-role="navbar">
            <a class="nav-button km-widget km-back" data-align="left" data-role="button" data-click="app.viewModels.choosePlayers.onBackTapped"></a>
            <span data-role="view-title"></span>
        </div>
    </div>
    <div class="view-content">
        <div data-role="listview"
                data-bind="source: dataSource"
                data-template="choose-players-list-item-template"
                data-filterable="{ field: 'Name', ignoreCase: true, operator: 'contains' }"></div>
    </div>
    <div data-role="footer">
        <div class="km-content">
            <p><a data-role="button" href="views/create-player.html" class="btn blue add-btn">Add New Player</a></p>
        </div>
    </div>
</div>