<div id="create-event"
     data-layout="sub-pages"
     data-role="view"
     data-title="Create Event"
     data-model="app.viewModels.createEvent">
    <div class="view-content">
        <form action="#" method="post" id="create-event-form">
            <ul data-role="listview">
                <li>
                    <label>
                        Title
                        <input type="text" data-bind="value: title" required data-required-msg="Event title is required." />
                    </label>
                </li>
                <li data-bind="invisible: hasCandidateLocations">
                    <label>
                        Location
                        <input type="text" data-bind="value: location" />
                    </label>
                </li>
                <li data-bind="visible: hasCandidateLocations">
                    <label>
                        Location
                        <select data-bind="value: location, source: candidateLocations"></select>
                    </label>
                </li>
                <li class="current-location" data-bind="invisible: hasCandidateLocations">
                    <button type="button" class="km-button btn blue km-widget km-state-active" data-bind="click: onUseCurrentLocationTapped">Use Current Location</button>
                </li>
                <li class="current-location" data-bind="visible: hasCandidateLocations">
                    <button type="button" class="km-button" data-bind="click: onDoNotUseCurrentLocationTapped">Don't Use Current Location</button>
                </li>
                <li>
                    <label>
                        Date
                        <input type="date" data-bind="value: date" />
                    </label>
                </li>
                <li class="button-row">
                    <button type="submit" class="km-button btn cta km-widget km-state-active" data-bind="click: onSaveTapped">Save</button>
                </li>
            </ul>
        </form>
    </div>
</div>