<div id="record-game"
        data-role="view"
        data-title="Record Game Result"
        data-model="app.viewModels.recordGame"
        data-layout="logo-layout">
    <div class="view-content">
        <ul data-role="listview">
            <li>
                <a data-role="button" data-click="app.viewModels.recordGame.onChooseEventTapped" data-bind="invisible: hasSelectedEvent">Choose Event</a>
                <a data-role="button" data-click="app.viewModels.recordGame.onChooseEventTapped" data-bind="visible: hasSelectedEvent"><span data-bind="text: selectedEventTitle"></span></a>
            </li>
            <li>
                <a data-role="button" data-click="app.viewModels.recordGame.onChooseGameTapped" data-bind="invisible: hasSelectedGame">Choose Game</a>
                <a data-role="button" data-click="app.viewModels.recordGame.onChooseGameTapped" data-bind="visible: hasSelectedGame"><span data-bind="text: selectedGameTitle"></span></a>
            </li>
            <li>
                <span></span>
                <a data-role="button" data-click="app.viewModels.recordGame.onChoosePlayersTapped">Choose Players</a>
            </li>
            <li>
                <ul data-bind="source: selectedPlayers" data-template="game-player-list-item-template">
                </ul>
            </li>
            <li>
                <p><a data-role="button" href="views/record-game.html" class="btn cta">Save Game</a></p>
            </li>
        </ul>
    </div>
</div>