<div id="record-game"
     data-layout="sub-pages"
     data-role="view"
     data-title="Record Game Result"
     data-model="app.viewModels.recordGame">
    <div class="view-content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                Event
                <ul>
                    <li class="select-options-btn">
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseEventTapped" data-bind="invisible: hasSelectedEvent"><span class="btn-text muted-text">Choose Event</span><i class="fa fa-pencil btn-edit-square"></i></a>
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseEventTapped" data-bind="visible: hasSelectedEvent">
                            <span data-bind="text: selectedEventTitle"></span>
                            <div class="event-details">
                                <span data-bind="text: selectedEventLocation" class="event-location"></span>
                                <span data-bind="text: selectedEventStartDate" class="event-date"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Game
                <ul>
                    <li class="select-options-btn">
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseGameTapped" data-bind="invisible: hasSelectedGame">
                            <span class="btn-text muted-text">Choose Game</span><i class="fa fa-pencil btn-edit-square"></i>
                        </a>
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseGameTapped" data-bind="visible: hasSelectedGame" class="selected-option">
                            <img data-bind="attr: { src: selectedGameBoxImageUrl }" width="48" height="48" />
                            <span data-bind="text: selectedGameTitle"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Players
                <ul>
                    <li class="select-options-btn">
                        <ul class="winner-list" data-role="kendo.ui.ListView" data-bind="source: selectedPlayers" data-template="game-player-list-item-template"></ul>
                        <a data-role="button" class="edit-player-list position-right" data-click="app.viewModels.recordGame.onChoosePlayersTapped"><i class="fa fa-pencil btn-edit-square"></i></a>
                    </li>
                <p class="smaller" style="margin-top: 0;">Tap the winner(s)</p>
                </ul>
            </li>
            <li class="gray-bg">
                <p><a data-role="button" data-click="app.viewModels.recordGame.onSaveButtonTapped" class="btn cta">Save Game</a></p>
            </li>
        </ul>
    </div>
</div>