<div id="record-game"
        data-role="view"
        data-title="Record Game Result"
        data-model="app.viewModels.recordGame">
    <div class="view-content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                Event
                <ul>
                    <li>
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseEventTapped" data-bind="invisible: hasSelectedEvent">Choose Event</a>
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseEventTapped" data-bind="visible: hasSelectedEvent"><span data-bind="text: selectedEventTitle"></span></a>
                    </li>
                </ul>
            </li>
            <li>
                Game
                <ul>
                    <li>
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseGameTapped" data-bind="invisible: hasSelectedGame">Choose Game</a>
                        <a data-role="button" data-click="app.viewModels.recordGame.onChooseGameTapped" data-bind="visible: hasSelectedGame"><span data-bind="text: selectedGameTitle"></span></a>
                    </li>
                </ul>
            </li>
            <li>
                Players
                <ul>
                    <li>
                        <ul class="winner-list" data-role="kendo.ui.ListView" data-bind="source: selectedPlayers" data-template="game-player-list-item-template">
                        </ul>
                        <a data-role="button" class="edit-player-list" data-click="app.viewModels.recordGame.onChoosePlayersTapped">Choose Players</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>