<div id="reports-menu"
     data-layout="sub-pages"
     data-role="view"
     data-title="Reports">
    <div class="view-content">
        <ul data-role="listview">
            <li>
                <a data-role="button" href="#gameplay-history">Gameplay History</a>
            </li>
<!--            <li>
                <a data-role="button" href="#player-stats">Player Stats</a>
            </li>-->
            <li>
                <button type="button" data-role="button" data-click="app.viewModels.reports.matchesByGame.show">Matches by Game</button>
            </li>
        </ul>
    </div>
</div>

<div id="gameplay-history"
        data-role="view"
        data-title="Gameplay History"
        data-layout="default-layout"
        data-show="app.viewModels.reports.gameplayHistory.onShow"
        data-hide="app.viewModels.reports.gameplayHistory.onHide"
        data-stretch="true">
    <div id="line-chart"></div>
</div>

<!--<div id="player-stats"
     data-role="view"
     data-title="Player Stats"
    data-show="app.viewModels.reports.playerStats">

</div>-->

<div id="matches-by-game"
        data-role="view"
        data-title="Matches by Game"
        data-layout="default-layout"
        data-show="app.viewModels.reports.matchesByGame.onShow"
        data-hide="app.viewModels.reports.matchesByGame.onHide"
        data-stretch="true">
    <div id="game-popularity-line-chart"></div>
</div>
