<div id="reports-menu"
     data-layout="sub-pages"
     data-role="view"
     data-title="Reports">
    <div class="view-content">
        <ul data-role="listview">
            <li>
                <p style="margin: 0;"><a data-role="button" href="#gameplay-history" class="btn blue">My Gameplay History</a></p>
            </li>
<!--            <li>
                <a data-role="button" href="#player-stats">Player Stats</a>
            </li>-->
            <li>
                <button type="button" data-role="button" data-click="app.viewModels.reports.matchesByGame.show" class="km-button btn blue km-widget km-state-active">Matches by Game</button>
            </li>
        </ul>
    </div>
</div>

<div id="gameplay-history"
     data-layout="sub-pages"
     data-role="view"
     data-title="My Gameplay History"
     data-show="app.viewModels.reports.gameplayHistory.onShow"
     data-hide="app.viewModels.reports.gameplayHistory.onHide"
     data-stretch="true">
    <div id="line-chart"></div>
</div>

<!--<div id="player-stats"
     data-role="view"
     data-title="Player Stats"
    data-show="app.viewModels.reports.playerStats">

</div>-->

<div id="matches-by-game"
     data-role="view"
     data-title="Matches by Game"
     data-layout="sub-pages"
     data-show="app.viewModels.reports.matchesByGame.onShow"
     data-hide="app.viewModels.reports.matchesByGame.onHide"
     data-stretch="true">
    <div id="game-popularity-line-chart"></div>
</div>
